# Create Sample: iris datasets

In [1]:
from sklearn.datasets import load_iris, load_breast_cancer
import pandas as pd
import numpy as np

# iris

In [16]:
iris = load_iris()

In [18]:
print(iris.feature_names)
print(iris.target_names)
print(iris.data.shape)
print(iris.target.shape)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']
(150, 4)
(150,)

In [22]:
df_iris = pd.DataFrame(iris.data)
df_iris.columns = iris.feature_names
df_iris['y'] = iris.target

df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  y
0                5.1               3.5                1.4               0.2  0
1                4.9               3.0                1.4               0.2  0
2                4.7               3.2                1.3               0.2  0
3                4.6               3.1                1.5               0.2  0
4                5.0               3.6                1.4               0.2  0

In [ ]:
## csv で保存

In [25]:
path = 'sample_iris.csv'
df = df_iris
df.to_csv(path, index=False, encoding='utf-8')

# breast cancer

In [13]:
breast_cancer = load_breast_cancer()

In [14]:
print(breast_cancer.feature_names)
print(breast_cancer.target_names)
print(breast_cancer.data.shape)
print(breast_cancer.target.shape)

['mean radius' 'mean texture' 'mean perimeter' 'mean area'
 'mean smoothness' 'mean compactness' 'mean concavity'
 'mean concave points' 'mean symmetry' 'mean fractal dimension'
 'radius error' 'texture error' 'perimeter error' 'area error'
 'smoothness error' 'compactness error' 'concavity error'
 'concave points error' 'symmetry error' 'fractal dimension error'
 'worst radius' 'worst texture' 'worst perimeter' 'worst area'
 'worst smoothness' 'worst compactness' 'worst concavity'
 'worst concave points' 'worst symmetry' 'worst fractal dimension']
['malignant' 'benign']
(569, 30)
(569,)

In [15]:
df_bc = pd.DataFrame(breast_cancer.data)
df_bc.columns = breast_cancer.feature_names
df_bc['y'] = breast_cancer.target

df_bc.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,y
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [16]:
# csv で保存
path = 'sample_breast_cancer.csv'
df = df_bc
df.to_csv(path, index=False, encoding='utf-8')

# logical_xor

In [17]:
np.random.seed(1)
X_xor = np.random.randn(200, 2)
y_xor = np.logical_xor(X_xor[:, 0] > 0,
                       X_xor[:, 1] > 0)
y_xor = np.where(y_xor, 1, -1)

In [18]:
df_lx = pd.DataFrame(X_xor)
df_lx.columns = ['feat0', 'feat1']
df_lx['y'] = y_xor
df_lx.head()

      feat0     feat1  y
0  1.624345 -0.611756  1
1 -0.528172 -1.072969 -1
2  0.865408 -2.301539  1
3  1.744812 -0.761207  1
4  0.319039 -0.249370  1

In [19]:
# csv で保存
path = 'sample_logical_xor.csv'
df = df_lx
df.to_csv(path, index=False, encoding='utf-8')

# circles

In [21]:
from sklearn.datasets import make_circles
X, y = make_circles(n_samples=1000, random_state=123, noise=0.1, factor=0.2)

In [26]:
df_circles = pd.DataFrame(X)
df_circles.columns = ['feat0', 'feat1']
df_circles['y'] = y

df_circles.head()

      feat0     feat1  y
0 -0.087696  1.085978  0
1 -0.837558  0.547310  0
2  0.796843  0.411495  0
3  0.212158  0.106985  1
4 -0.053684  0.979634  0

In [28]:
# csv で保存
path = 'sample_circles.csv'
df = df_circles
df.to_csv(path, index=False, encoding='utf-8')

# moon

In [32]:
from sklearn.datasets import make_moons
X, y = make_moons(n_samples=200, noise=0.05, random_state=0)

In [33]:
df_moon = pd.DataFrame(X)
df_moon.columns = ['feat0', 'feat1']
df_moon['y'] = y

df_moon.head()

      feat0     feat1  y
0  0.816805  0.521645  0
1  1.618596 -0.379829  1
2 -0.021270  0.273728  1
3 -1.021810 -0.075440  0
4  1.766546 -0.170699  1

In [35]:
# csv で保存
path = 'sample_moon.csv'
df = df_moon
df.to_csv(path, index=False, encoding='utf-8')

# blobs

In [37]:
from sklearn.datasets import make_blobs
X, y = make_blobs(random_state=8,
                  n_samples=100, 
                  n_features=2, 
                  cluster_std=1.5,
                  centers=3)

In [39]:
df_blobs = pd.DataFrame(X)
df_blobs.columns = ['feat0', 'feat1']
df_blobs['y'] = y

df_blobs.head()

      feat0      feat1  y
0 -6.711027 -10.556345  2
1 -5.234448 -13.292199  2
2 -7.257316 -11.531439  2
3  4.663889   6.702144  0
4 -4.782284  -8.392338  2

In [40]:
# csv で保存
path = 'sample_blobs.csv'
df = df_blobs
df.to_csv(path, index=False, encoding='utf-8')